*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100dvh;
    overflow-x: hidden;
    color: #222;
    user-select: none;
    -webkit-user-select: none;
}

main {
    min-height: 100%;
    background-color: #222;
}

.card {
    display: flex;
    flex-direction: column;
    width: 550px;
    max-width: 100%;
    background-color: white;
    padding: 2rem;
    border: black;
    border-radius: 1rem;
    margin: 3rem auto;
}

img {
    display: block;
}

label {
    font-size: 0.9rem;
    margin-bottom: 4px;
    font-weight: 600;
}

input,
select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

select {
    appearance: none;
}

button {
    padding: 10px 16px;
    font-size: 1rem;
    border: none;
    background: #575757;
    color: white;
    border-radius: 6px;
    flex: 0 0 auto;
}

.badge {
    padding-bottom: 2rem;
}

.badge-preview {
    max-width: 100%;
    height: 65px;
    object-fit: contain;
    margin: auto;
}

.field {
    margin: 6px 0;
    display: flex;
    flex-direction: column;
}

.generate {
    align-self: flex-start;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.generate:hover {
    background: #474747;
}

.generate:active {
    box-shadow: none;
}

#url-output {
    display: inline-block;
    font-family: monospace;
    margin-top: 20px;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 6px;
    border: 1px solid #ddd;
    overflow-wrap: anywhere;
    user-select: text;
    -webkit-user-select: text;
}
